.hover_img a { position:relative; }
.hover_img a ~ a { position:absolute; display:none; z-index:99; }
.hover_img a:hover ~ a { display:block; width: 50%; overflow: visible;  }

:root > * {
  --md-code-hl-variable-color: #1c7d4d;
  --md-code-hl-string-color: #BA2121;
}

.md-typeset h1, .md-typeset h2 {
    margin: 0;
}

.md-grid {
  max-width: 80%; 
}

.md-typeset kbd {
    box-shadow: 0 .01rem 0 .05rem var(--md-typeset-kbd-border-color),0 .1rem 0 var(--md-typeset-kbd-border-color),0 -.1rem .2rem var(--md-typeset-kbd-accent-color) inset;
    line-height: 1.2;
    margin-top: 0.15em;
}

em {
    color: #237e90;
}

.ignore_max_width {
    max-width: none !important;
}


.md-typeset .admonition,
.md-typeset details, .md-nav__link {
  font-size: 16px
}
